<!doctype html> 
{% load staticfiles %}
<html> 
<head> 
<meta charset="utf-8">  
<link rel="stylesheet" href="{% static 'items/css/01.css' %}">
</head> 
<body> 

{% include 'items/menu.html' %}
  <div id="content">
    
 <div class="text"> 
<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>
<td><img src="{% static 'items/img/49.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/50.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/51.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/52.jpg' %}" alt="影像">
    
  </td>
</table>  

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="{% static 'items/img/53.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/54.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/55.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/56.jpg' %}" alt="影像">
    
  </td> 
</table>

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="{% static 'items/img/57.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/58.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/59.jpg' %}" alt="影像">
   
  </td>
<td><img src="{% static 'items/img/60.jpg' %}" alt="影像">
   
  </td> 
</table>    
    
  </div>
</div>  
</div>  <!-- wrapper -->
</body>
</html>
