<!doctype html> 
{% load staticfiles %}
<html> 
<head> 
<meta charset="utf-8">  
<link rel="stylesheet" href="{% static 'items/css/01.css' %}">
</head> 
<body> 
{% include 'items/menu.html' %}

  <div id="content">
    
 <div class="text"> 
<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>
<td><img src="{% static 'items/img/25.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/26.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/27.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/28.jpg' %}" alt="影像">
    
  </td>
</table>  

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="{% static 'items/img/29.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/30.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/31.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/32.jpg' %}" alt="影像">
    
  </td> 
</table>

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="static/img/category03/33.jpg" alt="影像">
    
  </td>
<td><img src="static/img/category03/34.jpg" alt="影像">
    
  </td>
<td><img src="static/img/category03/35.jpg" alt="影像">
    
  </td>
<td><img src="static/img/category03/36.jpg" alt="影像">
    
  </td> 
</table>    
    
  </div>
</div>  
</div>  <!-- wrapper -->
</body>
</html>
