<!doctype html> 
{% load staticfiles %}
<html> 
<head> 
<meta charset="utf-8">  
<link rel="stylesheet" href="{% static 'items/css/01.css' %}">
</head> 
<body> 

{% include 'items/menu.html' %}
  <div id="content">
    
 <div class="text"> 
<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>
<td><img src="{% static 'items/img/37.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/38.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/39.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/40.jpg' %}" alt="影像">
    
  </td>
</table>  

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="{% static 'items/img/41.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/42.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/43.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/44.jpg' %}" alt="影像">
    
  </td> 
</table>

<table  style="border:3px #FFAC55 double;padding:5px;" rules="all" cellpadding='5';>    
<td><img src="{% static 'items/img/45.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/46.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/47.jpg' %}" alt="影像">
    
  </td>
<td><img src="{% static 'items/img/48.jpg' %}" alt="影像">
    
  </td> 
</table>    
    
  </div>
</div>  
</div>  <!-- wrapper -->
</body>
</html>
